@import '@radix-ui/colors/black-alpha.css';

/* reset */
button {
  all: unset;
}

.SwitchRoot {
  width: 42px;
  height: 25px;
  background-color: #D1D1DB;
  border-radius: 9999px;
  position: relative;
}
.SwitchRoot[data-state='checked'] {
  background-color: #7047EB;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state='checked'] {
  transform: translateX(19px);
}

